body {
	background-color: #D2A1A4;
	font-size: 100%
}



#title {
	font-size: 1.5em;
	font-family: 'Playball',cursive;
	width:87%;
	margin:3em;
	background-image:url("compass.jpg");
	padding:0.5em;
	
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}
#nav {
	width: 20%;
	font-family: sans-serif;
	float: left;
	background: #B3C3C6;
	padding: 0 .25em;
}
#nav h2{
	font-size:1em;
}
#content {
	float: left;
	width: 75%;
	background-color: #FFFEE6;
	padding: 1em;
	font-family: serif;
	
}
#illustration {
	text-align: center;
	float: right;
}

